
* {  /* This universal selector will apply settings to all html elements*/
    box-sizing: border-box; /*Border box tells the browser to account for any border and padding in the values you specify for an element's width and height*/
    padding: 0;
    margin: 0;
}

body {  /*This hexadecimal color will apply a light greyish colour to the entire body*/
    background-color: #d9dcd6;
}

a { /*all anchors <a will have the following css properties applied */
    color: #ffffff; /*sets colour to white*/
    text-decoration: none; /* all anchors have no text decoration applied*/
    position: relative; /* Relative positioning has moved the a elements towards to the top of the page*/
    top: -40px; 
} 

p {
    font-size: 16px; /* Sets all paragraphs to this size*/
}

.header { /* all child elements within the header have the same format*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; /*this sets the background colour of the header*/
    color: #ffffff; /*this sets the colour of the font in the header*/
    
}

.header h1 { /* all child elements within this will be set inline, to appear in the nav bar */
    display: inline-block;
    font-size: 48px; 
}

.header h1 .seo { /* sets a slightly grey colour to SEO in title */
    color: #d9dcd6;
}

.header li { /* all list items will have the same css properties*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
.hero { /*relates to the first image of the page*/
    height: 800px; /*sets height of image*/
    width: 100%; /*sets width of image*/
    margin-bottom: 25px; /*sets the margin*/
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center; 
    margin-top: 0px;
}

.content { /*sets the css properties for the content boxes*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left { /*this will keep the content boxes to the left*/
    float: left;
    margin-right: 25px;
}

.float-right { /*This will keep the aside boxes to the right*/
    float: right;
    margin-left: 25px;
}

.benefits { /*this will set the css properties for the box floating to the right*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; 
}

.benefit-lead { /*sets the margin and colour in the lead generation section*/
    margin-bottom: 32px; /*this will maintain a margin between each section*/
    color: #ffffff; /*text will appear white*/
}

.benefit-brand { /*sets the margin and colour in the benefit brand section*/
    margin-bottom: 32px; /*this will maintain a margin between each section*/
    color: #ffffff; /*text will appear white*/
}

.benefit-cost { /*sets the margin and colour in the benefit-cost section section*/
    margin-bottom: 32px; /*this will maintain a margin between each section*/
    color: #ffffff; /*text will appear white*/
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3
 {      /* centres and sets margins on the headings in the aside section*/
    margin-bottom: 10px;  
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img
 { /* centres and sets margins on the images in the aside section*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
{
    margin-bottom: 20px; /* sets the bottom margin on the section*/
    padding: 50px; /*sets the padding in each section*/
    height: 300px; /*sets the height in each section*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img
 {  /* sets maximum height on all three images*/
    max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2
 { /* sets bottom margin and font size on all three headings*/
    margin-bottom: 20px;
    font-size: 36px;
}

.footer { /*sets the css properties for the footer section*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
